/* your css here */
/* 
body{
  font-family:'Poppins', Helvetica, sans-serif;
} */

.copyright {
  float: left;
  padding-left: 1em;
  color:#6c6c6c;
}
.portfolio {
    padding: 1em;
    padding-left:3em;
    padding-right:3em;
    display: grid;
    gap: 1em;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto 1fr 1fr;
  }

  .portfolio a{
    color: #748ffc;
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
    font-size: 13pt;
    line-height: 0;
  }

  .suba {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-weight: 600;
  }

  .portfolio article {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid hsl(0, 0%, 87%);
    /* background-color: rgb(240, 239, 239); */
    border-radius: 0.5em;
    box-shadow: inset 0 -3em 3em rgb(255, 255, 255),
    0.3em 0.3em 1em #adadad;
  }

  .portfolio p {
    text-align: center;
    color:#484848;
  }

  .portfolio b {
    color: #748ffc;
    padding-top: 1em;
    text-align: center;
    font-size: 13pt;
  }

  .portfolio img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 16 /9;
    background-color: white;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 0.5em;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .header1 {
    /* margin-top: 3em;
    display: flex;
    justify-content: center; */
    color: #748ffc;
    font-size: 18pt;
    /* font-family: 'Poppins', Helvetica, sans-serif; */
    font-weight: 800;
    line-height: 0.5;
  }

  .header {
    display: flex;
    justify-content: center;
    color: #748ffc;
  }

  .work {
    color: #748ffc;
  }

  .cv {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
	  grid-template-rows: auto 1fr;
    padding-left: 4em;
    padding-right: 4em;
  }

  .home {
    width: 70em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2em;
    padding-left: 8em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5em;
  }

  .aboutme {
    /* background-color: purple; */
    margin-left: 4em;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 3em;
  }

  .aboutme p{
    padding-right: 26px;
    /* font-family: 'Poppins', Helvetica, sans-serif; */
    color: #5f5f5f;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    text-align: left;
  }

  /* .headshot {
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .headshot img {
    width: 16em;
    height: 18em;
    object-fit: cover;
    /* height: 18em; */
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5pt;
    margin-left: 4em;
    /* box-shadow: inset 0 -3em 3em rgb(255, 255, 255),
    0.3em 0.3em 1em #748ffc; */
    box-shadow: 25px 15px rgba(116,143,252, 0.6);    
  }

  .seeMore {
    display: flex;
    justify-content: center;
    font-size: 50pt;
    line-height: 0;
    color: #5f5f5f;
    padding-bottom: 1em;
  }

  .seeMore:hover {
    color: #748ffc;
  }

  .color {
    color: #748ffc;
  }
  .about {
    padding-top: 2em;
    padding-bottom: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right:auto;
    margin-left:auto;
    width: 55em;
    line-height: 1.3em;
    color:#484848;
  }

  .candid img {
    width: 22em;
    border-radius: 1em;
  }

  .NavBar-container {
    display: flex;
    align-items: center;
    /* position: fixed;  */
    top: 0;
    width: 100%;
    height: 8em;
    justify-content: flex-end;
    padding-right: 3em;    
    background-color: white;
    box-sizing: border-box;
  }

  .NavBar-container a:first-child {
    padding-left: 3em;
    margin-right: auto;
  }
  .NavBar-container p:first-child {
    padding-left: 3em;
    margin-right: auto;
  }

  .NavBar-container > a {
    display: inline-block;
  }

  .aclass {
    /* font-family: sans-serif; */
    text-decoration: none;
    color: #484848;
    font-size: 1.2em;
    font-weight: 600;
    padding: 1em;
  }

  a:hover {
    color: #748ffc;
  }

  a:active {
    color: #748ffc;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    max-width: fit-content;
    margin: auto;
    background-color: white;
    border-radius: 0.5em;
    color: #748ffc;
    font-size: 1.2em;
    box-shadow: inset 0 -3em 3em rgb(255, 255, 255),
    0.3em 0.3em 1em #748ffc;
  }

  input[type=text] {
    width: 100%;
    height: 1.5em;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
  }

  input[type=submit] {
    cursor: pointer;
    width: 100%;
    background-color: #748ffc;
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1.2em;
  }

  input[type=submit]:hover {
    cursor: pointer;
    width: 100%;
    background-color: #5676f8;
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1.2em;
  }

  .navstyle {
    color: #748ffc;
  }

  .homepage2 article {
    display: flex;
    /* flex-direction: column; */
    margin: 2em;
    /* border: 1px solid hsl(0, 0%, 87%);
    border-radius: 0.5em;
    box-shadow: inset 0 -3em 3em rgb(255, 255, 255),
    0.3em 0.3em 1em #748ffc; */
    box-shadow: var(--shd,0 8px 20px rgba(192, 191, 191, 0.6));
    border: var(--container-corvid-border-width,var(--brw,1px)) solid var(--container-corvid-border-color,rgba(var(--brd,var(--color_15)),var(--alpha-brd,1)));
    /* border-radius: var(--rd,5px);  */
    transition: all .1s ease-in-out;
    height: 20em;
    border-radius: 20px;
  }

  .homepage2 img {
    width: 30em;
    margin-left: auto;
    border-radius: 0 20px 20px 0;
  }

  .homepage2 {
    width: 62em;
    margin-right: auto;
    margin-left: auto;
  }

  .email {
    float: right;
    color:#748ffc;
    font-size: 12pt;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    line-height: 0;
  }

  .projectText {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
  }

  .projectText p{
    /* font-family: 'Poppins', Helvetica, sans-serif; */
    line-height: 1.3;
    padding: 0;
    font-size: 14pt;
    color: rgb(69, 69, 69);
  }

  .fade {
    color:rgba(57, 57, 57, 0.6) !important;
    line-height: 0;
    padding-bottom: 1em;
  }

  .title {
    color: #748ffc;
    font-size: 25pt;
    line-height: 0;
  }

  .subtitle {
    padding-left: 3.5em;
    color:#748ffc;
  }

  /* Parent Container */
.content_img{
  position: relative;
}

/* Child Text Container */
.content_img div{
  position: absolute;
  bottom: 0;
  right: 0;
  /* margin-bottom: 5px; */
  margin-right: 2em;
  background: black;
  color: white;
  line-height: 2em;
  text-align: center;
  font-family:'Poppins', Helvetica, sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.1 linear;
}

.tiny {
  color:#828282 !important;
  font-size: 10pt !important;
}


/* Hover on Parent Container */
/* .content_img:hover{
  cursor: pointer;
} */

.content_img:hover div{
  width: 28.2em;
  height: 13.5em;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.6; 
  padding-top: 6em;
  border-radius: 0 13pt 13pt 0;
}


  @media (max-width: 60em) {
    .about {
      width: 30em;
    }

    .candid img {
      display: none;
    }

    .homepage2 {
      width: 30em;
    }

    .homepage2 img {
      display: none;
    }

    .header1{
      line-height: 1;
    }

    .NavBar-container{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .NavBar-container a:first-child {
      display: none;
    }

    .home {
      display: grid;
      grid-template-columns: 1fr;
      padding-top: 2em;
      padding-left: 0;
    }

    .about{
      display: grid;
      grid-template-columns: 1fr;
    }

    .subtitle {
      display: flex;
      justify-content: center;
      padding: 0;
    }

    .headshot {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .headshot img {
      width: 15em;
      margin-left: 0;
      border: 1px solid rgb(201, 201, 201);
      border-radius: 0.5em;
      box-shadow: inset 0 -3em 3em rgb(255, 255, 255),
      0.3em 0.3em 1em #748ffc;
    }

    .about {
      margin-right:auto;
      margin-left:auto;
      padding: 2em;
    }
    .cv {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .portfolio {
      padding: 3em;
      display: grid;
      gap: 1em;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr 1fr;
    }

    .title {
      width: 100%;
    }
    
    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media print {
    body {
      font-size: 11pt;
    }
    .NavBar-container {
      display: none;
    }
    .navstyle {
      display: none;
    }
    
    article {
      width: 76%;
      margin-left: auto;
      margin-right: auto;
    }

    .title {
      width: 100%;
    }
  }

  body {
    margin: 0;
  }

